<!DOCTYPE html>
<html>
<head>
	<title>Login Form</title>
	<link rel="stylesheet" type="text/css" href="static/css/login.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div class="container">
		<div class="img">
			<img src="static/images/login.png">
		</div>
		<div class="login-content">
			<form action="login" method="post">
				<h2 class="title">CRYPTSEND</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<input id="userName" placeholder="Username" type="text" class="input">
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<input id="Passphrase" placeholder="Password" type="password" class="input">
				   </div>
				</div>
				<div class="upload-btn-wrapper">
					<button class="btn">Upload a file</button>
					<input id="secretKeyFile" type="file" name="myfile" />
				</div>
            	<input type="button" id="uploadBtn" class="btn" value="Login">
            </form>
        </div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="../static/js/CryptSend.js"></script>
		<script src="https://kit.fontawesome.com/a81368914c.js"></script>
</body>
</html>