<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="static/css/styleos.css">
  <title>Send</title>
</head>
<body>
  <div class="bar">
    <a href="/logout">Logout</a>
    <a href="/recieved_file">Recieved</a>
    <a href="/index">Home</a>
  </div>
  <div class="send">
    <h1>Hello {{user.get_username}}</h1>
    <h3>Ready to send encrypted file</h3>
    <h2>Upload Here!!</h2><br>
    <form method="post" enctype="multipart/form-data">
      <input type="text" name="username" id="username" placeholder="username"><br>
			<input type="file" name="document" id="userFile" ><br><br>
			<button type="button" id="send">Send file</button><br>
    </form>
   <br> <p>Uploaded file:</p>
  </div>
  <div class="image-send">
    <img src="static/images/upload-files.svg">
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="../static/js/CryptSend.js"></script>
</body>
</html>